.navbar-container {
  width: 100%;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: Poppins;
}

.navbar-container .navbar {
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem;
  gap: 2rem;
}

.navbar-container .navbar p {
  flex-grow: 1;
}

.navbar-container .navbar button {
  background-color: transparent;
  border: none;
}
